<div class="c-signup-popup-container">
	<div class="c-signup-popup">
		{{#if @site.logo}}
			<div class="c-signup-popup__logo">{{@site.logo}}</div>
		{{/if}}
		{{#if @site.title}}
			<h1 class="c-signup-popup__title">{{@site.title}}</h1>
		{{/if}}
		<p class="c-signup-popup__description">Visit the <a href="{{@site.url}}/join-us/"></a> page to register for membership.</p>
		<div class="c-signup-popup__footer">
			<form data-members-form="signin" class="subscribe-form">
				<h3>{{t "Welcome back!"}}</h3>
				<div id="ityped" class="ityped">
					<span class="ityped-wrap">{{t 'Sign into your account to get to the good stuff'}}</span>
				</div>
				<div class="form-group">
					<input data-members-email class="subscribe-input" placeholder="{{t "Your email address"}}" type="email" aria-label="{{t "Your email address"}}" required>
				</div>
				<button type="submit" class="global-button">{{t "Send login link"}}</button>
				<p data-members-error><!-- error message will appear here --></p>
			</form>
		</div>
	</div>
</div>