<div class="c-signup-popup-container disabled">
	<div class="c-signup-popup">
		<div class="c-signup-popup__close"><img src="{{asset "assets/images/icon-close.svg"}}" alt="icon close"></div>
		{{#if @site.logo}}
			<div class="c-signup-popup__logo"><img src="{{@site.logo}}" alt="{{@site.logo}}"></div>
		{{/if}}
		<div class="c-signup-popup__footer">
			<form data-members-form="signin" class="subscribe-form">
				<h3 class="subscribe-form__title">{{t "Sign in"}}</h3>
				<div class="form-group">
					<label class="subscribe-form__label" for="subscribe-form__email">Email</label>
					<input id="subscribe-form__email" data-members-email class="subscribe-input" placeholder="{{t "Your email address"}}" type="email" aria-label="{{t "Your email address"}}" required>
				</div>
				<button type="submit" class="global-button">{{t "Continue"}}</button>
				<p class="subscribe-form__error" data-members-error></p>
				<div class="subscribe-form__footer">
					Don't have an account? <a href="{{@site.url}}/join-us/">Sign up</a>
				</div>
			</form>
		</div>
	</div>
</div>