{{!< default}}

{{#page}}

<main class="gh-main gh-outer">
    <div class="gh-inner">

		<section class="custom-hero-block">
			<div class="custom-hero-block__left">
				<h1 class="custom-hero-block__title">{{title}}</h1>
				{{#if custom_excerpt}}
					<p class="custom-hero-block__description">{{custom_excerpt}}</p>
				{{else}}
					<p class="custom-hero-block__description">Our member resources provide insights about our key audience (the Persuadables) and climate misinformation narratives aimed at them. Plus, we share our advertising expertise on successfully spurring climate action through creative campaigns.</p>
				{{/if}}
				<a href="{{@site.url}}/join-us/" class="custom-hero-block__link">Join Us</a>
			</div>
			<div class="custom-hero-block__right">
				{{#if feature_image}}
					<img src={{feature_image}} alt="{{title}} image">
				{{else}}
					<img src={{asset "assets/images/image002.png"}} alt="{{title}} image">
				{{/if}}
			</div>
		</section>

		<section class="m-resources-cards">
			<a href="{{@site.url}}/guides/"><h2 class="m-resources-cards__title">GUIDES</h2></a>
			<div class="tags-cards">
				<div class="tags-card">
					<a href="{{@site.url}}/tag/advertising" class="tags-card__image">
						<img src="{{asset 'assets/images/tag-images/Advertising.png'}}" alt="Advertising tag feature image">
					</a>
					<a href="{{@site.url}}/tag/advertising" class="tags-card__title">Advertising</a>
				</div>
				<div class="tags-card">
					<a href="{{@site.url}}/tag/strategic" class="tags-card__image">
						<img src="{{asset 'assets/images/tag-images/Strategic.png'}}" alt="strategic tag feature image">
					</a>
					<a href="{{@site.url}}/tag/strategic" class="tags-card__title">Strategic</a>
				</div>
				<div class="tags-card">
					<a href="{{@site.url}}/tag/audience" class="tags-card__image">
						<img src="{{asset 'assets/images/tag-images/Audience.png'}}" alt="audience tag feature image">
					</a>
					<a href="{{@site.url}}/tag/audience" class="tags-card__title">Audience</a>
				</div>
			</div>
		</section>

		<section class="m-resources-cards">
			<a href="{{@site.url}}/climate-communications/"><h2 class="m-resources-cards__title">CLIMATE COMMUNICATION TOPICS</h2></a>
			<div class="tags-cards">
				<div class="tags-card">
					<a href="{{@site.url}}/tag/culture" class="tags-card__image">
						<img src="{{asset 'assets/images/tag-images/Culture.png'}}" alt="culture tag feature image">
					</a>
					<a href="{{@site.url}}/tag/culture" class="tags-card__title">Culture</a>
				</div>
				<div class="tags-card">
					<a href="{{@site.url}}/tag/energy" class="tags-card__image">
						<img src="{{asset 'assets/images/tag-images/Energy.png'}}" alt="energy tag feature image">
					</a>
					<a href="{{@site.url}}/tag/energy" class="tags-card__title">Energy</a>
				</div>
				<div class="tags-card">
					<a href="{{@site.url}}/tag/food" class="tags-card__image">
						<img src="{{asset 'assets/images/tag-images/Food.png'}}" alt="food tag feature image">
					</a>
					<a href="{{@site.url}}/tag/food" class="tags-card__title">Food</a>
				</div>
				<div class="tags-card">
					<a href="{{@site.url}}/tag/politics" class="tags-card__image">
						<img src="{{asset 'assets/images/tag-images/Politics.png'}}" alt="politics tag feature image">
					</a>
					<a href="{{@site.url}}/tag/politics" class="tags-card__title">Politics</a>
				</div>
				<div class="tags-card">
					<a href="{{@site.url}}/tag/transport" class="tags-card__image">
						<img src="{{asset 'assets/images/tag-images/Transport.png'}}" alt="transport tag feature image">
					</a>
					<a href="{{@site.url}}/tag/transport" class="tags-card__title">Transport</a>
				</div>
				<div class="tags-card">
					<a href="{{@site.url}}/tag/science" class="tags-card__image">
						<img src="{{asset 'assets/images/tag-images/Science.png'}}" alt="science tag feature image">
					</a>
					<a href="{{@site.url}}/tag/science" class="tags-card__title">Science</a>
				</div>
			</div>
		</section>

	</div>
</main>

{{/page}}